body {
	background-color: #393E41;
	font-family: 'Slabo 27px', serif;

}

h1 {
	color: #E2C044;
	margin: 0 auto;
	width: 15%
}
h2 {
	color: #D3D0CB;
	margin-bottom: 4px;
}

#questions {
	display: inline-block;
	margin-left: 18%;
	margin-top: 30px;
}

input {
	border-radius: 2px;
	border: none;
	padding: 4px 0 4px 2px;
	width: 350px;
	background-color: #DBD8D4;
	color: #1E2019;
}

#answers {
	position: relative;
	display: inline-block;
	margin-left: 10%;
	font-size: 50px;
	bottom: 400px;

}
#correct {
	color: #68D89B !important;
/*	padding-left: 5%
*/}

#incorrect {
	color: #ED6A5A !important;
}
.correct {
	color: #68D89B !important;
}

.incorrect {
	color: #ED6A5A !important;
}




p{
	color: #1E2019;
	margin-bottom: 0;
	margin-top: 0;
	display: inline-block;
	margin-right: 15px;

}

span {
		font-size: 45px;
position: relative;
}
button {
	border: none;
	width: 100px;
	height: 45px;
	font-size: 20px;
	background-color: #1E2019;
	color: #E2C044
}



